*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*titulo heroes*/
h1{
    padding-top:28px;
    padding-left: 28px;
    padding-bottom: 26px;
    margin-top: 0;
    font-size: 40px;
    justify-content:;
    align-items: ;
    width: 100%;
}
/*descuento*/
.encabezado{
    padding-left: 27px;
    font-size: 14px;
    display: inline;
}
/*background de descuento 20%*/
.fondoencabezado{
    background-color: #1CD1B0;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 38px;
    width: 100%;
}
/*background de heroes*/
.fondoheroes{
    background: #00669F;
    width: 100%;
}
.descripb1{
    display: inline-block;
    margin-left: 50px;
}
/*fondo de card de batman*/
.imgfondo{

    display: flex;
    position: relative;
    width: 300px;
    height: 193px;

}
/*fondo de card de harley quinn*/
/*.imgfondohq{
    margin-left: 80px;
}*/


.fondo{
    position: relative;
    display: flex;
    margin-top: 154px ;
    justify-content: space-around;
    
}
.descripcion{
    
    width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
    position: relative;
}
.emoji{
    position: absolute;
    top: 1rem;
    left: 1.3rem;
}
.descripcion-texto{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.perfil{
    display: flex;
    margin: 35%;
    border-radius: 50%;
    width: 122px;
    height: 122px;
    position: absolute;
    margin: 125px 0 0 90px;
}
/*.descripcionharliy{
    position: absolute;
    left: 300px;
    width: 300px;
    margin: 20px;
}
.descripcionbatman2{
    position: absolute;
    left: 500px;
    width: 300px;
}*/

.title{
    text-align: center;
    margin-top: 83px;
}
.par{
    margin:0 17px 0 16px;
    width: 267px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 37px;
    text-align: justify;

}
.bottom{
    margin-bottom: 18.48px;
}
#boton{
    display: flex;
    margin-bottom: 18.48px;
    margin-top: 50px;
    background-color: #00669F;
    color:#F3F3F3;
    width: 128.78px;
    height: 48.52px;
    justify-content: center;
    margin: auto;
    border: none;
}
.footer-text{
    display: flex;
    margin-top: 151px;
    background-color: #00669F;
    color: #FFF9F9;
    height: 51px;
    align-items: center;
    padding-left: 16px;
}

@media screen and (max-width:980px) {
    .fondo{
        display: flex;
        flex-wrap: wrap;
        
    }

}